body{
    margin-top: 25px;
    background: grey;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}


input{
    margin: 10px;
    border: none;
    padding: 5px;
}

ul li{
    list-style: none;
}
li:hover .fa-solid.fa-trash {
    display: inline-block;
  }

.primero{
   padding: 25px;
    background-color: rgb(53, 126, 102);
    height: 600px;
}
.segundo{
    padding: 25px;
    background-color: rgb(161, 138, 109);
    height: 600px;
}

.fondo{
    background-color: rgb(195, 247, 195);
    height: auto;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0pc 1pc 1pc 0pc rgb(38, 72, 75);
    text-align: left;
    justify-content: space-between;
}

.titulo{

    display: flex;
    width: 250px;
    margin-left: 100px;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(15, 114, 114);
    box-shadow: 0pc 1pc 1pc 0pc rgb(38, 72, 75);
    margin-bottom: 30px;
}

.boton{
    border-radius: 10px;    
}
.fa-solid.fa-trash {
    margin: 3px;
    display: none;
    float: right; 
    color: grey;
    align-items: baseline;
  }
  
  .fondoBase{
    border-radius: 10%;
    box-shadow: 2pc 2pc 2pc 1pc rgb(38, 72, 75);
    background-color: rgb(65, 109, 109);
    height: auto;
    width: 500px;
    padding: 10px;
}  